.mt--30 { margin-top: 30px !important; }
.mt--25 { margin-top: 25px !important; }
.mb--20 { margin-top: 20px !important; }
.mt--15 { margin-top: 15px !important; }
.mt--10 { margin-top: 10px !important; }
.mt--5  { margin-top: 5px !important; }

.mb--30 { margin-bottom: 30px !important; }
.mb--25 { margin-bottom: 20px !important; }
.mb--20 { margin-bottom: 20px !important; }
.mb--15 { margin-bottom: 15px !important; }
.mb--10 { margin-bottom: 10px !important; }
.mb--5  { margin-bottom: 5px !important; }

.parsley-errors-list {
	padding-inline-start: 17px !important;
	width: 100% !important;
	margin-bottom: 0;
}

.alert ul {
    margin: 10px 0 0 0px !important;
}

.bold {
    font-weight: bold;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.hide {
    display: none;
}

.table-custom tr th {
    font-weight: bolder !important;
}
.table-custom tr td {
    
}
.table-custom tr td > input {
    background: #ffffff !important;
    text-align: right;
}
.table-custom {
    width: 100% !important;
}
.table.dataTable {
	margin-top: 0 !important;
}
.dataTables_scrollBody .table.dataTable {
    margin-top: -10px !important;
}
.dataTables_paginate {
    margin-top: 5px !important;
}
.dataTables_processing.card { 
    display: block;
    background-color: #ffffff;
    color: #6b6e6f;
    border: 1px solid #b2b8bc;
    padding: 15px 20px !important;
    top: 50% !important;
    left: 45% !important;
    width: 300px !important;
}
div.dataTables_wrapper div.dataTables_filter input {
   background-color: #ffffff;
}

.span-counter {
    background: #5CB65F;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 0px 3px;
    text-align: center;
    border-radius: 3px;
}
	
